#btStart {
  -fx-background-image: url("../view/Images/BoutonJouer.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btStart:hover{
  -fx-background-image: url("../view/Images/BoutonJouerOn.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}



#btOptions {
  -fx-background-image: url("../view/Images/BoutonOptions.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btOptions:hover{
  -fx-background-image: url("../view/Images/BoutonOptionsOn.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}



#btCredits {
  -fx-background-image: url("../view/Images/BoutonCredits.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btCredits:hover{
  -fx-background-image: url("../view/Images/BoutonCreditsOn.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}


#btQuitter {
  -fx-background-image: url("../view/Images/BoutonQuitter.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btQuitter:hover{
  -fx-background-image: url("../view/Images/BoutonQuitterOn.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}


#btMulti {
  -fx-background-image: url("../view/Images/BoutonMultijoueur.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btMulti:hover{
  -fx-background-image: url("../view/Images/BoutonMultijoueurOn.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}


#btExit {
  -fx-background-image: url("../view/Images/BoutonMenuPrincipal.png");
  -fx-background-size: 240px 70px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btExit:hover{
  -fx-background-image: url("../view/Images/BoutonMenuPrincipalOn.png");
  -fx-background-size: 240px 70px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btRestart{
    -fx-background-image: url("../view/Images/BoutonRestart.png");
    -fx-background-size: 240px 70px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btRestart:hover{
    -fx-background-image: url("../view/Images/BoutonRestartOn.png");
    -fx-background-size: 240px 70px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


#btDifficulte {
  -fx-background-image: url("../view/Images/BoutonDifficulte.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btDifficulte:hover{
  -fx-background-image: url("../view/Images/BoutonDifficulteOn.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btPartieCustom {
    -fx-background-image: url("../view/Images/boutonPartieCustom.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btPartieCustom:hover{
    -fx-background-image: url("../view/Images/PartieCustomiseeOn.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btFacile {
    -fx-background-image: url("../view/Images/Facile.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btFacile:hover{
    -fx-background-image: url("../view/Images/FacileOn.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btMoyen {
    -fx-background-image: url("../view/Images/Moyen.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btMoyen:hover{
    -fx-background-image: url("../view/Images/MoyenOn.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btDifficile {
    -fx-background-image: url("../view/Images/Difficile.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btDifficile:hover{
    -fx-background-image: url("../view/Images/DifficileOn.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btSubmit{
    -fx-background-image: url("../view/Images/Submit.png");
    -fx-background-size: 80px 80px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btSubmit:hover {
    -fx-background-image: url("../view/Images/SubmitOn.png");
    -fx-background-size: 80px 80px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btRetour {
    -fx-background-image: url("../view/Images/Return.png");
    -fx-background-size: 80px 80px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btRetour:hover {
    -fx-background-image: url("../view/Images/ReturnOn.png");
    -fx-background-size: 80px 80px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btMenuPrincipal {
  -fx-background-image: url("../view/Images/BoutonMenuPrincipal.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btMenuPrincipal:hover{
  -fx-background-image: url("../view/Images/BoutonMenuPrincipalOn.png");
  -fx-background-size: 270px 79px;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

#btHote {
    -fx-background-image: url("../view/Images/BoutonHote.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btHote:hover{
    -fx-background-image: url("../view/Images/BoutonHoteOn.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btInvite {
    -fx-background-image: url("../view/Images/BoutonInvite.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#btInvite:hover{
    -fx-background-image: url("../view/Images/BoutonInviteOn.png");
    -fx-background-size: 270px 79px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


#btPret{
    -fx-background-image: url("../view/Images/BoutonPret.png");
    -fx-background-size: 157px 96px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


#btPret:hover{
    -fx-background-image: url("../view/Images/BoutonPretOn.png");
    -fx-background-size: 157px 96px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#vbox{
  -fx-background-image: url("../view/Images/fondMenuNouv.png");
  -fx-background-size: 1080px 720px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

#gameBorderPane{
   -fx-background-image: url("../view/Images/gameBackground.png");
   -fx-background-size: 1080px 720px;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

#OptionPane{
   -fx-background-image: url("../view/Images/fondMenuNouv.png");
   -fx-background-size: 1080px 720px;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

#CreditPane{
   -fx-background-image: url("../view/Images/fondMenuNouvCredits.png");
   -fx-background-size: 1080px 720px;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

#OptionDifficultePane{
   -fx-background-image: url("../view/Images/fondMenuNouv.png");
   -fx-background-size: 1080px 720px;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

#PaneNbrDrapeau{
   -fx-background-image: url("../view/Images/NombreDeDrapeauxTemps.png");
   -fx-background-size: 260px 100px;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

#PaneNbrDrapeauEnnemi{
   -fx-background-image: url("../view/Images/EnnemiNombreDeDrapeaux.png");
   -fx-background-size: 260px 100px;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

#PartieCustomPane{
   -fx-background-image: url("../view/Images/fondMenuNouv.png");
   -fx-background-size: 1080px 720px;
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
}

#MultiPane {
    -fx-background-image: url("../view/Images/fondMenuNouv.png");
    -fx-background-size: 1080px 720px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#ChargementPane{
    -fx-background-image: url("../view/Images/Chargement.png");
    -fx-background-size: 278px 96px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#ChargementGif{
    -fx-background-image: url("../view/Images/Chargement.gif");
    -fx-background-size: 325px 121px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


#ParcheminCustomPane{
    -fx-background-image: url("../view/Images/ParcheminCustom.png");
    -fx-background-size: 330px 170px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#TitrePartieCustom{
    -fx-background-image: url("../view/Images/PartieCustomisee.png");
    -fx-background-size: 268px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#TitreDifficulte{
    -fx-background-image: url("../view/Images/Difficulte.png");
    -fx-background-size: 268px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#TitreOption{
    -fx-background-image: url("../view/Images/Options.png");
    -fx-background-size: 268px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#TitreMulti{
    -fx-background-image: url("../view/Images/MultiJoueur.png");
    -fx-background-size: 268px 64px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}